<app-examenes></app-examenes>
<div class="container">
    <table class="table table-dark table-hover text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha creacion</th>
                      </tr>
        </thead>
        <tbody>
          <tr *ngFor="let examen of examenes">
            <th>{{examen.id}}</th>
            <td>{{examen.nombre}}</td>
            <td>{{examen.createAt  | date:'YYYY/MM/dd' }} </td>
            <td><button class="btn btn-outline-primary" routerLink="/detailexamen/{{examen.id}}"><i class="far fa-eye"></i> View</button></td>
            <td><button class="btn btn-outline-warning"  (click)="sendMessageExamen(examen)"><i class="far fa-edit"></i> Edit</button></td>
            <td><button class="btn btn-outline-danger" (click)="onDelete(examen.id)"><i class="far fa-trash-alt"></i> Delete</button></td>
          </tr>

        </tbody>
      </table>
      <div class="mt-3">
          <button class="btn btn-outline-success btn-lg" routerLink="/createexamen">
            <i class="fas fa-plus-circle"></i> Agregar nuevo Examen
          </button>
      </div>
</div>

